*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.start{
    background-image: url(/img/beach.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.title{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 115%;
    text-align: center;
    width: 100%;
    color:  rgb(216, 127, 10);
}

h2{
    padding: 20px;
    font-size: 30px;
    font-weight: normal;

}

a:hover{
    color: white;
    background-color: rgb(216, 127, 10);
}

.title p{
    font-size: 110%;
}

a{
    text-decoration: none;
    color:  rgb(216, 127, 10);
    border-radius: 15px;
    border: 2px solid  rgb(216, 127, 10);
    padding: 17px 35px 17px 35px ;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.3);
}


.bottom2{
    display: flex;
    align-items: flex-end;
}

.white{
    background-color: white;
    color: rgb(216, 127, 10);
    text-align: left;
}
.orange{
    background-color: rgb(216, 127, 10);
    color: white;
    text-align: left;
}

p{
    font-size: 15px;
    padding: 30px;
}

